* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h1 {
  text-align: center;
  color: #333333;
}
button {
  margin: 0 auto;
}
